<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="/style/globalStyle.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<html lang="en">    
 
    <% include navbar.ejs %>
    <div class="container">
        <body>    
        <h>
            <b>Professional Enquiries</b>
        </h>
            <br><br>
            Name:<br>
            <input id="subject" type="text" name="name" style="width:200px;"><br>
            E-mail:<br>
            <input  type="text" name="mail" style="width:200px;"><br>
            Comment:<br>
            <textarea id="message" name="comment" size="50" style="height:100px;width:200px;"></textarea><br><br>
            <a id="send-mail"  class="btn btn-primary">Send Email</a>      
        </body>
    </div>
</html>
    

<script type="text/javascript">    
    
</script>