<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="/style/globalStyle.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<html lang="en">    
 
    <% include navbar.ejs %>
    <div class="container">
        <body>    
        <h>
            Kenneth C. LaMarca
        </h>
        <p>
            This will serve as my main page until I figure out what I want to put on this website
        </p>
        </body>
    </div>
</html>


    