<head>
    <link rel="stylesheet" type="text/css" href="/style/globalStyle.css">

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<html lang="en">    

    <header>
        <h1 class="top">
            <div class="grad">
                Welcome
            </div>
        </h1>
    </header>
    
    <div class="navbar navbar-inverse navbar-fixed-left">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Home">Work Eperience</a></li>
            <li><a href="/Home">Code Examples</a></li>
            <li><a href="/contact">Contact Me</a></li>
            <li><a href="/Home">Blog</a></li>
        </ul>
    </div>